@model Persona
<h1> Controller View Model</h1>
<h2>
    Nombre: @Model.Nombre, Edad: @Model.Edad, Imagen:<img src="@Model.Imagen" style="width: 100px; height 120px"/>
</h2>
<h2 style="color:blue"> Email: @Model.Email</h2>