<h1>Menú información entre componentes</h1>
@*
    Comentarios en Razor
*@
<li>
<a asp-asp-controller="Informacion" asp-action="ControllerView">Información Controller -> View</a>
</li>
<li>
    <a asp-asp-controller="Informacion" asp-action="ControllerViewModel">Información Controller Model -> View</a>
</li>
<li>
    <a asp-asp-controller="Informacion" asp-action="ControllerViewModelList">Información Controller Model List -> View</a>
</li>
